@model Project.Net.Models.Plane

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center my-4">Plane Details</h1>

<div class="row justify-content-center">
    <div class="col-md-6 col-lg-5">
        <div class="card shadow-sm">
            <div class="card-body">
                <h4 class="card-title">Plane Information</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-4">Capacity:</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.Capacity)</dd>
                    <dt class="col-sm-4">Manufacture Date:</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.ManufactureDate)</dd>
                    <dt class="col-sm-4">Plane Type:</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.PlaneType)</dd>
                </dl>
            </div>
            <div class="card-footer text-right">
                <a href="@Url.Action("Edit", new { id = Model?.PlaneId })" class="btn btn-primary mr-2">Edit</a>
                <a href="@Url.Action("Index")" class="btn btn-secondary">Back to List</a>
            </div>
        </div>
    </div>
</div>