@model Project.Net.Models.Flight

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center my-4">Flight Details</h1>

<div class="row justify-content-center">
    <div class="col-md-6 col-lg-5">
        <div class="card shadow-sm">
            <div class="card-body">
                <h4 class="card-title">Flight Information</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-4">Pilot:</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.Pilot)</dd>
                    <dt class="col-sm-4">Airline:</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.Airline)</dd>
                    <dt class="col-sm-4">Destination:</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.Destination)</dd>
                    <dt class="col-sm-4">Departure:</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.Departure)</dd>
                    <dt class="col-sm-4">Flight Date:</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.FlightDate)</dd>
                    <dt class="col-sm-4">Effective Arrival:</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.EffectiveArrival)</dd>
                    <dt class="col-sm-4">Estimated Duration:</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.EstimatedDuration)</dd>
                    <dt class="col-sm-4">Plane ID:</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.MyPlane.PlaneId)</dd>
                </dl>
            </div>
            <div class="card-footer text-right">
                <a href="@Url.Action("Edit", new { id = Model?.FlightId })" class="btn btn-primary mr-2">Edit</a>
                <a href="@Url.Action("Index")" class="btn btn-secondary">Back to List</a>
            </div>
        </div>
    </div>
</div>