@using Microsoft.AspNetCore.Identity
@model IEnumerable<Project.Net.Models.Flight>
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center my-4">Flights</h1>
@if (SignInManager.IsSignedIn(User))
{
    if(User.Identity?.Name == "admin@admin.com"){
    <div class="d-flex justify-content-end mb-3">
        <a class="btn btn-success" asp-action="Create">Create New Flight</a>
    </div>
    }
}
<div class="row">
    @if (!Model.Any())
    {
        <h3 class="text-center text-muted">There are no flights available</h3>
    }else{
    @foreach (var item in Model)
    {
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Flight @item.FlightId</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@item.Airline</h6>
                    <p class="card-text"><strong>Destination:</strong> @item.Destination</p>
                    <p class="card-text"><strong>Departure:</strong> @item.Departure</p>
                    <p class="card-text"><strong>Flight Date:</strong> @item.FlightDate.ToString("d")</p>
                    <p class="card-text"><strong>Effective Arrival:</strong> @item.EffectiveArrival.ToString("d")</p>
                    <p class="card-text"><strong>Estimated Duration:</strong> @item.EstimatedDuration</p>
                    <p class="card-text"><strong>Plane ID:</strong> @item.MyPlane.PlaneId</p>
                    <div class="btn-group" role="group">
                            @if (SignInManager.IsSignedIn(User))
                            {
                                @if (User.Identity?.Name == "admin@admin.com")
                                {
                                    <a class="btn btn-primary mx-2" asp-action="Edit" asp-route-id="@item.FlightId">Edit</a>
                                }

                            }
                            <a class="btn btn-info mx-2" asp-action="Details" asp-route-id="@item.FlightId">Details</a>
                            @if (SignInManager.IsSignedIn(User))
                            {
                                @if (User.Identity?.Name == "admin@admin.com")
                                {
                                    <a class="btn btn-danger mx-2" asp-action="Delete" asp-route-id="@item.FlightId">Delete</a>
                                }
                            }
                    </div>
                </div>
            </div>
        </div>
    }
    }
    
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}